@use "../global" as *;
@mixin icon($num, $name) {
  > :nth-child(#{$num}) .icon {
    color: $icon-color;
    @extend %fs-icon;
    @include fa-icon-solid($name);
    margin-bottom: 3.5rem;
  }
}

.sec4 {
  .even-col {
    gap: 3.5rem $col-space;

    @include icon(1, $fa-var-list-check);
    @include icon(2, $fa-var-text-height);
    @include icon(3, $fa-var-eye);
  }
}

@media (min-width: $desktop-screen) {
  .sec4 .even-col {
    .even-col p {
      width: 90%;
      margin-inline: auto;
    }

    h2 {
      font-size: var(--h2-window-screen);
    }
  }
}
