@use "../global" as *;
.sec1 {
  min-height: 36rem;
  display: grid;
  align-content: center;
}

.showcase {
  > :nth-child(2) {
    margin: 4.5rem 0 3rem 0;
  }
}

@media (min-width: $desktop-screen) {
  .sec1 {
    min-height: 34rem;
  }
}
