@use "../util/config" as *;

.border {
  border: 2px solid red;
  > * {
    border: 2px solid green;
  }
}

.container {
  margin-inline: auto;
  max-width: $big-container;
}

.small-container {
  max-width: $smallContainer;
  margin-inline: auto;
}

.border-box {
  padding: 1rem;
  border: 2px solid var(--text);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%reset-btn {
  background: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  border: none;
}

.hide-scrollbar {
  overflow-y: hidden;
}

@media (min-width: 500px) {
  .hide-scrollbar {
    padding-right: 8px;
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Style the scrollbar track when scrollbar is in "dragging" state */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

%primary-btn {
  overflow: hidden;
  display: inline-block;
  font-weight: bold;
  border: 3px solid var(--clr-primary);
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--text);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--clr-primary);
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: var(--bg);
  }

  &:hover:before,
  &:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  &:active {
    transform: scale(0.9);
  }
}

%secondary-btn {
  overflow: hidden;
  display: inline-block;
  font-weight: bold;
  border: 3px solid var(--clr-neutral);
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--text);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--clr-neutral);
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: var(--bg);
  }

  &:hover:before,
  &:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  &:active {
    transform: scale(0.9);
  }
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.animate {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.animated {
  filter: blur(0);
}

.loading-wrapper {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;

  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5d3fd3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    -webkit-animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
  }

  .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
  }

  .three-body__dot:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
  }

  .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: 50% 85%;
    -ms-transform-origin: 50% 85%;
    transform-origin: 50% 85%;
  }

  .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    -webkit-animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    -webkit-animation-delay: calc(var(--uib-speed) * -0.3);
    animation-delay: calc(var(--uib-speed) * -0.3);
  }

  .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transform-origin: 50% 85%;
    -ms-transform-origin: 50% 85%;
    transform-origin: 50% 85%;
  }

  .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    -webkit-animation: wobble1 var(--uib-speed) infinite
      calc(var(--uib-speed) * -0.15) ease-in-out;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
      ease-in-out;
  }

  .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    -webkit-transform: translateX(116.666%);
    -ms-transform: translateX(116.666%);
    transform: translateX(116.666%);
  }

  .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    -webkit-animation: wobble2 var(--uib-speed) infinite ease-in-out;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
  }

  @-webkit-keyframes spin78236 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin78236 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes wobble1 {
    0%,
    100% {
      -webkit-transform: translateY(0%) scale(1);
      transform: translateY(0%) scale(1);
      opacity: 1;
    }

    50% {
      -webkit-transform: translateY(-66%) scale(0.65);
      transform: translateY(-66%) scale(0.65);
      opacity: 0.8;
    }
  }

  @keyframes wobble1 {
    0%,
    100% {
      -webkit-transform: translateY(0%) scale(1);
      transform: translateY(0%) scale(1);
      opacity: 1;
    }

    50% {
      -webkit-transform: translateY(-66%) scale(0.65);
      transform: translateY(-66%) scale(0.65);
      opacity: 0.8;
    }
  }

  @-webkit-keyframes wobble2 {
    0%,
    100% {
      -webkit-transform: translateY(0%) scale(1);
      transform: translateY(0%) scale(1);
      opacity: 1;
    }

    50% {
      -webkit-transform: translateY(66%) scale(0.65);
      transform: translateY(66%) scale(0.65);
      opacity: 0.8;
    }
  }

  @keyframes wobble2 {
    0%,
    100% {
      -webkit-transform: translateY(0%) scale(1);
      transform: translateY(0%) scale(1);
      opacity: 1;
    }

    50% {
      -webkit-transform: translateY(66%) scale(0.65);
      transform: translateY(66%) scale(0.65);
      opacity: 0.8;
    }
  }
}
