@use "config" as *;
.border {
  border: 2px solid red;
  > * {
    border: 2px solid green;
  }
}

.container {
  padding: 0 2.5rem;
  margin-inline: auto;
}

.small {
  max-width: 650px;
}

.even-col {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

@media (min-width: 600px) {
  .container {
    padding: 0;
    width: min(94%, 1120px);
  }

  .even-col {
    flex-direction: row;
  }
}

.logo {
  width: fit-content;
  margin-inline: auto;
  width: 118px;
}

.primary-btn {
  font-size: 16px;
  font-family: inherit;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s, opacity 1s;
  z-index: 1;
  font-weight: 500;
  color: var(--color);
  background: none;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 6em;
    width: 30em;
    border-radius: 50%;
  }

  &:hover {
    color: $bg;
  }

  &:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  &:hover:before {
    top: -30px;
    left: -30px;
  }

  &:active:before {
    transition: background 0s;
  }
}

.btn-wrapper {
  display: grid;
  gap: 1.5rem 0;
  > * {
    height: 3rem;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  > :nth-child(1) {
    @extend .primary-btn;
    --color: var(--clr-primary);
  }

  > :nth-child(2) {
    @extend .primary-btn;
    --color: var(--clr-neutral);
  }
}

.theme {
  font-size: 14px;
  .checkbox {
    display: none;
  }

  .slider {
    width: 3.4em;
    height: 1.5em;
    background-color: lightgray;
    border-radius: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 0.2em solid transparent;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
    cursor: pointer;
  }

  .slider::before {
    content: "";
    display: block;
    width: 4em;
    height: 100%;
    background-color: #fff;
    transform: translateX(-1.7em);
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
  }

  .checkbox:checked ~ .slider::before {
    transform: translateX(1.7em);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
  }

  .checkbox:checked ~ .slider {
    background-color: #2196f3;
  }

  .checkbox:active ~ .slider::before {
    transform: translate(0);
  }
}

.loading {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background-color: $bg;
  z-index: 1000000;

  .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }

  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: $clr-text;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 0.5s alternate infinite ease;
  }

  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }

    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }

    100% {
      top: 0%;
    }
  }

  .circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 0.5s alternate infinite ease;
  }

  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }

    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }

    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
}

.os-scrollbar {
  // The size of the scrollbar
  --os-size: 0;
  // The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x)
  --os-padding-perpendicular: 0;
  // The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y)
  --os-padding-axis: 0;
  // The border radius of the scrollbar track
  --os-track-border-radius: 0;
  // The background of the scrollbar track
  --os-track-bg: none;
  // The :hover background of the scrollbar track
  --os-track-bg-hover: none;
  // The :active background of the scrollbar track
  --os-track-bg-active: none;
  // The border of the scrollbar track
  --os-track-border: none;
  // The :hover background of the scrollbar track
  --os-track-border-hover: none;
  // The :active background of the scrollbar track
  --os-track-border-active: none;
  // The border radius of the scrollbar handle
  --os-handle-border-radius: 0;
  // The background of the scrollbar handle
  --os-handle-bg: red;
  // The :hover background of the scrollbar handle
  --os-handle-bg-hover: none;
  // The :active background of the scrollbar handle
  --os-handle-bg-active: none;
  // The border of the scrollbar handle
  --os-handle-border: none;
  // The :hover border of the scrollbar handle
  --os-handle-border-hover: none;
  // The :active border of the scrollbar handle
  --os-handle-border-active: none;
  // The min size of the scrollbar handle
  --os-handle-min-size: 33px;
  // The max size of the scrollbar handle
  --os-handle-max-size: none;
  // The axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width)
  --os-handle-perpendicular-size: 100%;
  // The :hover axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width)
  --os-handle-perpendicular-size-hover: 100%;
  // The :active axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width)
  --os-handle-perpendicular-size-active: 100%;
  // Increases the interactive area of the scrollbar handle.
  --os-handle-interactive-area-offset: 0;
}

.os-scrollbar-handle {
  --os-handle-bg: var(--text500);
  --os-handle-bg-active: var(--text700);

  &:hover {
    --os-handle-bg-hover: var(--text700);
  }
}
