.btn-wrapper {
  .animated {
    animation: pulse 800ms;
  }

  > :nth-child(1) {
    animation-delay: 100ms;
  }

  > :nth-child(2) {
    animation-delay: 200ms;
  }
}

.sec2 {
  .col-wrapper {
    > :nth-child(1) .animated {
      animation: fadeInLeft 1s;
    }

    > :nth-child(2).animated {
      animation: fadeInRight 1s;
    }
  }
}

.sec3 {
  header.animated {
    animation: fadeIn 1s;
  }

  img.animated {
    animation: zoomInUp 1s;
  }
}

.sec5 .even-col {
  > :nth-child(1) a.animated {
    animation: fadeInRight 1s;
    animation-delay: 100ms;
  }

  > :nth-child(2) a.animated {
    animation: fadeInRight 1s;
    animation-delay: 200ms;
  }

  > :nth-child(3) a.animated {
    animation: fadeInRight 1s;
    animation-delay: 300ms;
  }

  > :nth-child(4) a.animated {
    animation: fadeInRight 1s;
    animation-delay: 400ms;
  }

  > :nth-child(5) a.animated {
    animation: fadeInRight 1s;
    animation-delay: 500ms;
  }
}

footer.animated {
  animation: fadeIn 1s;
}

.footer-brands {
  > :nth-child(1) .animated {
    animation: fadeInRight 1s;
    animation-delay: 100ms;
  }

  > :nth-child(2) .animated {
    animation: fadeInRight 1s;
    animation-delay: 200ms;
  }

  > :nth-child(3) .animated {
    animation: fadeInRight 1s;
    animation-delay: 300ms;
  }
}
